body > p {
  max-width: 100px;
  text-align: center;
  padding: 6px;
  background-color: #4e75ff;
  border-radius: 8px;
  margin-bottom: 40px;
}

body > p > a {
  color: #ffff;
}

.login-form {
  max-width: 408px;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.login-form > label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 8px;
}

.login-form > label > input {
  width: 100%;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.login-form > button {
  width: 86px;
  padding: 8px 16px;
  border-radius: 8px;
  background: rgb(78, 117, 255);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.login-form > button:hover {
  background: #6c8cff;
}
